#page{
	//	-fx-background-color: #efe7da;
}

.button{
	-fx-background-color: #08b597;
	-fx-font: 15 arial;
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}
.button:pressed{
	-fx-background-color: #85f1de;
	-fx-text-fill: #ffffff;
}
.button:disabled{
	-fx-opacity: 00;
}

#x_label{
	-fx-font: 80 arial;
	-fx-font-weight: bold;	
	-fx-text-fill: #95c623;
}
#o_label{
	-fx-font: 80 arial;
	-fx-font-weight: bold;	
	-fx-text-fill: #464646;
}
