.root{
	-fx-background-image: url("background.jpg");
	-fx-background-size:350 275;
}

#welcome-text{
	-fx-fill:white;
}

.label{
	-fx-text-fill:white;
}

#actiontarget{
	-fx-font-weight: bold;
}

.button:pressed {     
	-fx-background-color: grey;
} 